# PostgreSQL
POSTGRES_CONNECTION=
# OTEL
OLTP_URL=
OLTP_AUTH=
OLTP_SERVICE_NAME=

# Redis
REDIS_URL=

# JWT
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
# CORS
GATEWAY_URLS=
# App
ASPNETCORE_ENVIRONMENT= Development || Staging || Production
ASPNETCORE_URLS=http://localhost:5280