APP_NAME=MyService
APP_VERSION=1.0.0

ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

JWT_SECRET_KEY=your-secret-key
JWT_EXPIRES_IN=3600
JWT_ISSUER=your-app
JWT_AUDIENCE=your-users

FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email
FIREBASE_PRIVATE_KEY="YOUR_FIREBASE_PRIVATE_KEY"

REDIS_URL=redis:6379